.MainLogo {
	width: 275px;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* End Box Sizing */

/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
    position:relative;
    min-height:100%;
}
body {
    margin:0 0 100px; /* bottom = footer height */
}

footer {
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color:#ccc;
    text-align:center;
    padding:5px;
}
/* End Sticky Footer */


section, header, nav {
    padding-left:25px;
    padding-top:25px;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul li {
    display:inline;
    background-color:#3399f3;
    padding: 8px 10px;
    margin-right:5px;
}
nav ul li:hover {
    background-color:#87CEFA;
}
nav ul li a{
    color: #FFF;
}
nav ul li a:hover{
    color: #FFF;
    text-decoration: none;
}


/*----------------------------------------------------
Forms
-----------------------------------------------------*/
label {
    margin-top:10px;
    margin-bottom:0;
    display:block;
}

.checkboxLabel, .radioLabel {
    display:inline;
}

input[type=text],input[type=password],select {
    width:300px;
    font-size:20px;
}

ul.errors {
    color:red;
    margin:0;
    margin-top:5px;
    padding:0;
    list-style-type:none;
}



/*----------------------------------------------------
Flash message
-----------------------------------------------------*/
.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:yellow;
    font-weight:bold;
}
